.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* Add a white border around the circular photo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .user-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* Add styling for the user form */
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 449px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;/* Adjust the width as needed */
}

.user-form .form-group {
  margin-bottom: 15px;
}

.user-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-form input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-form .form-actions {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  flex-direction: column-reverse;
}

.user-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #0056b3;
}
